@bit:registry=https://node.bit.dev
//node.bitsrc.io/:_authToken=f55a5d7a-6d3f-4956-92c6-abd01c8b117d
//node.bit.dev/:_authToken=f55a5d7a-6d3f-4956-92c6-abd01c8b117d
//registry.npmjs.org/:_authToken=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
@<account-name>:registry=https://node.bit.dev
